body{
    background-color:#8e8ab1;
    color:black;
}

table{
    width: 80%;
    margin: auto;
    color:blue;
    font-size: 15px;
}
td, th{
    border: 1px solid;
    border-color:black;
}

a{
    font-size: 30px;
    color:rgb(60, 255, 0);
}
.galeria{
    margin: auto;
    width: 70%;
    height: fit-content;
}
img{
    width: 100%;
    border-radius: 30px;
}
video{
    margin: 40px;
    border-radius:30px;
    width: 70%;
}